.bg {
    background-color: #a7bfcb;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hd {
    background-color: #b5339f;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fd {
    background-color: #00abf3;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal ;
}